__pycache__/
*.py[cod]
*.pyi
*.pyo
*.pyd
.Python
.venv/
env/
venv/
build/
dist/
*.egg-info/
*.egg
.mypy_cache/
.pytest_cache/
/*.png
/*.jpg
/*.jpeg
*.bmp
*.gif
.DS_Store
*.jsonl
tmp/
experiments/
labeled-bbox-dataset-examples/
local-experiments/
